.mySlides {
  display: none
}

.w3-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px
}

.w3-display-container {
  position: relative
}

.w3-center {
  text-align: center !important
}

.w3-container {
  padding: 0.01em 16px
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.w3-large {
  font-size: 18px !important
}

.w3-xlarge {
  font-size: 24px !important
}

.w3-text-white,
.w3-hover-text-white:hover {
  color: #fff !important
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.w3-left {
  float: left !important;
  cursor: pointer
}

.w3-right {
  float: right !important;
  cursor: pointer
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 13px;
  width: 13px;
  padding: 0;
  border-radius: 50%
}

.w3-border {
  border: 1px solid #ccc !important
}

.w3-transparent,
.w3-hover-none:hover {
  background-color: transparent !important
}

.w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important
}

.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}